<header class="info">

  <h1>João Silva</h1>

  <div class="logo">
    <button routerLink="/conteudo">
      <img src="../../../../assets/imagem/model.png">
    </button>
  </div>

  <div class="qbranco">
  <div class="qazul">
    <div class="nome">
      <p>Nome</p>
  </div>
  <div class="sobrenome">
    <p>Sobrenome</p>
  </div>
  <div class="data">
    <p>Data</p>
  </div>
  <div class="email">
      <p>Email</p>
  </div>
  <div class="cpf">
      <p>CPF</p>
  </div>
  </div>
  </div>



</header>
